---
import { keywords } from '~/constants/keywords';

type Props = {
  path: string;
  title: string;
  description: string;
};

const { path, title, description } = Astro.props as Props;
---

<!doctype html>
<html lang="en" class="antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/favicon.ico" />

    <meta name="author" content="Zétény Nagy" />
    <link rel="author" href="https://znagy.hu" />

    <meta name="keywords" content={keywords.join(', ')} />

    <meta name="theme-color" content="#0f172a" />
    <meta name="color-scheme" content="dark" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Zétény Nagy" />
    <meta property="og:image" content="https://links.znagy.hu/me.jpg" />

    <meta name="application-name" content="Links - Zétény Nagy" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="https://links.znagy.hu/me.jpg" />

    <meta name="robots" content="index, follow" />
    <meta
      name="googlebot"
      content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
    />

    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta name="twitter:title" content={title} />

    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta name="twitter:description" content={description} />

    <meta property="og:url" content={`https://links.znagy.hu${path}`} />

    <meta name="generator" content={Astro.generator} />
  </head>

  <body class="overflow-x-hidden bg-slate-900 text-white">
    <slot />
  </body>

  <style>
    :root {
      color-scheme: dark;
    }
  </style>
</html>
