---
export interface Props {
  path: string;
  title: string;
  description: string;
}

const { path, title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <meta name="author" content="stay" />

    <meta
      name="keywords"
      content="stay, Zétény, Nagy, Zétény Nagy, Full stack dev, Full stack developer, IT, IT Student, Kyokushin, Kyokushin Karate, Muay Thai, Thai Box, Thai-Boxing, Hungary, JavaScript, TypeScript, Node.js, Express, React, Next.js, Sass, SCSS, Tailwind CSS, TailwindCSS, tailwind, Mantine, tRPC, MySQL, Postgres, PostgreSQL,
          PlanetScale, Railway, Bootstrap, t3-stack, MongoDB, HTML, HTML5, CSS, CSS3, Nodemailer, Vercel, Netlify, Heroku, Linode, DigitalOcean, Vercel, Discord.js, REGALE Energy Zrt., Anything, Resume, Education, Skills, Hobbies, IT, Web Development, Web Developer, Data modeling, Data structuring, DevOps, Cloud, Networking,
          Languages & Libraries, Technologies, Platforms, School, Újlaki Általános Iskola, BMSzC Neumann János Informatikai Technikum"
    />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Zétény Nagy" />
    <meta property="og:image" content="https://links.znagy.hu/me.jpg" />
    <meta name="theme-color" content="#0f172a" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="znagy.hu" />
    <meta name="twitter:image" content="https://links.znagy.hu/me.jpg" />

    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="rating" content="general" />

    <meta name="generator" content={Astro.generator} />

    <meta name="url" content={`https://links.znagy.hu${path}`} />
    <meta property="og:url" content={`https://links.znagy.hu${path}`} />
    <meta property="twitter:url" content={`https://links.znagy.hu${path}`} />

    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta name="twitter:title" content={title} />

    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta name="twitter:description" content={description} />
  </head>

  <body class="overflow-x-hidden font-sans text-white bg-slate-900">
    <slot />
    <style>
      :root {
        color-scheme: dark;
      }
    </style>
  </body>
</html>
