---
import { keywords } from '@constants/keywords';

import '@styles/globals.css';

interface Props {
  path: string;
  title: string;
  description: string;
}

const { path, title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" href="/favicon.ico" />

    <meta name="author" content="Zétény Nagy" />

    <meta name="keywords" content={keywords.join(', ')} />

    <meta name="theme-color" content="#0f172a" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Zétény Nagy" />
    <meta property="og:image" content="https://links.znagy.hu/me.jpg" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="https://links.znagy.hu/me.jpg" />

    <meta name="robots" content="index, follow" />
    <meta name="language" content="English" />
    <meta name="rating" content="general" />

    <meta name="url" content={`https://links.znagy.hu${path}`} />
    <meta property="og:url" content={`https://links.znagy.hu${path}`} />
    <meta property="twitter:url" content={`https://links.znagy.hu${path}`} />

    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta name="twitter:title" content={title} />

    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta name="twitter:description" content={description} />

    <meta name="generator" content={Astro.generator} />
  </head>

  <body>
    <slot />
  </body>
</html>
